<h1>Editing auction</h1>

<% if auction_active?(@auction) %>
  <%= render 'form' %>
   <%= link_to 'End Auction Early', end_auction_path, class:"btn btn-warning" %>
<% else %>
  <p>Auction has ended</p>
<% end %>
   <%= link_to 'Delete Auction', @auction, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<%= link_to 'Show', @auction %> |
<%= link_to 'Back', auctions_path %>
